

<%= form_for @album , :html => {:class => 'form-horizontal'} do |f| %>
  <legend>create new album</legend>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@album.errors.count, "error") %> prohibited
        this album from being saved:
      </h2>
      <ul>
        <% @album.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Album_name , :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name , :class => "form-control" %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :Album_description , :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description , :class => "form-control" %>
    </div>
  </div>
  <%= f.file_field :avatar , :class => "form-control" %>

  <div id="pic" class="row">
    <div class="col-md-12">
      <legend>Attache Photos</legend>
    </div>
    <%= f.fields_for :pics do |p|   %>
      <div class="col-md-4"> 
        <legend><%= p.index+1 %></legend>
        <div class="form-group">
          <%= p.label :Pic_name , :class => "col-sm-4 control-label" %>
          <div class="col-sm-8">
            <%= p.text_field :name , :class => "form-control" %>
          </div>
        </div>
        <%= p.file_field :avatar , :class => "form-control" %>
        <%= p.text_field :all_tags, placeholder: "Tags separated with comma", :class => "form-control" %>
      </div>
    <% end %>
    
  </div></br>
<legend class="col-md-12">
  <%= tag "input", { "type" => "button", "value" => "Add Photo", "onclick"=> "add()" , :class => "btn btn-warning" } %>
  <%= tag "input", { "type" => "button", "value" => "remove", "onclick"=> "remov()", :class => "btn btn-danger" } %>
</legend>

   

  <p>
  	<%= f.submit "Submit", :class => "btn btn-primary" %>
  </p>

<%end%>