    <div class="row">
      <div class="col-md-1">
        <%=image_tag @album.avatar.url(:thumb) ,:class => "img-responsive" %>
      </div>
      <div class="col-md-10">
        Album Name <%= @album.name %></br>
        Album Description <%= @album.description %></br>
        <%=link_to 'view',album_path(@album), :class => "btn btn-primary" %>
        <%=link_to 'edit',edit_album_path(@album), :class => "btn btn-primary" %>
        <%=link_to 'delete', album_path(@album), :method => :delete, :class => "btn btn-primary" %>
      </div>
    </div>
    <div class="row">
        <% @album.pics.each do |p| %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <a href="<%= pic_path(p.id)  %>"  title="<%= p.name %>" class="zoom" data-title="<%= p.name %>" data-footer="<%= p.desc %>" data-type="image" data-toggle="lightbox" ><%=image_tag p.avatar.url(:medium), :class => "img-responsive" %></a>
              </div>
              <div class="panel-footer">
                <h4><%= p.name %></h4>
                 <% p.tags.each do |t| %> 
                   <a href="#">#<%= t.name  %></a> 
                 <% end %>
                <%=link_to 'delete', pic_path(p), :method => :delete %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
    

    <p>Upload pics <%= link_to "Upload", new_pic_path %> </p>

    <p>you are logged in as <%= current_user.email %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </p>

